@tailwind base;
@tailwind components;
@tailwind utilities;
/* @font-face {
  font-family: 'Tenada';
  src: url('/fonts/Tenada.woff');
} */
@font-face {
  font-family: 'YeongdeokSea';
  src: url('../app/assets/fonts/YeongdeokSea.woff');
}

.toggle {
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input[type="checkbox"] {
  -webkit-appearance: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.x-slider {
  -webkit-appearance: none;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CCCCCC;
  -webkit-transition: .4s;
  transition: .4s;
}

.x-slider:before {
  -webkit-appearance: none;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0;
  top: -1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle input[type="checkbox"]:checked + .x-slider {
  -webkit-appearance: none;
  background-color: #2A303C;
}

.toggle input[type="checkbox"]:focus + .x-slider {
  -webkit-appearance: none;
  box-shadow: 0 0 1px #2A303C;
}

.toggle input[type="checkbox"]:checked + .x-slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.x-slider.round {
  -webkit-appearance: none;
  border: 2px solid gray;
  border-radius: 34px;
}

.x-slider.round:before {
  -webkit-appearance: none;
  border: 2px solid gray;
  border-radius: 50%;
}

input[type="search"] {
  -webkit-appearance: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-color: none;
  outline: none;
}

input[type="search"]::placeholder {
  -webkit-appearance: none;
  padding-left: 5px;
  font-family: "YeongdeokSea";
}

input[type="search"]::-webkit-textfield-decoration-container {
  -webkit-appearance: none;
  padding-left: 5px;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 12px;
  cursor: pointer;
  content: url('../app/assets/icons/clear.png');
  background-color: bisque;
  margin-left: 5px;
  /* background-image: url('√icons/like-it.png'); */
}

.scroll-custom-normal::-webkit-scrollbar {
  width: 5px;
  background-color: #c0fce9;
  border-radius: 5px;
}

.scroll-custom-normal::-webkit-scrollbar-thumb {
  background-color: #00fcaa;
  border-radius: 5px;
}

.scroll-custom-normal::-webkit-scrollbar-track {
  background-color: #c0fce9;
  border-radius: 5px;
}